<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模版语法之指令语法 v-???</title>

    <!-- 安装Vue -->
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        指令语法：
            1.什么是指令? 有什么作用?
                指令的职责是：当表达式的值改变时，将其产生的连带影响，响应式地作用于DOM
            2.Vue框架中的所有指令的名字都以"v-"开始。
            3.插值是写在标签体当中的，那么指令写在哪里呢?
                指令是写在标签里，以属性的形式存在。<span 指令是写在这里的></span>
                注意：虽然指令是写在标签的属性位置上，但是这个指令浏览器是无法直接看懂的。
                是需要先让Vue框架进行编译的，编译之后的内容浏览器是可以看懂的。
            4.指令的语法规则：
                指令的一个完整的语法格式：
                    <HTML标签 v-指令名:参数="表达式"></HTML标签>
                    表达式：
                        之前插值语法中{{这里可以写什么}}，那么指令中的表达式就可以写什么。
                        但是需要注意：在指令中的表达式不能再外层添加{{}}
                    不是所有的指令都有参数和表达式
                        有的指令不需要参数，也不需要表达式，例如：v-once
                        有的指令不需要参数，但是需要表达式，例如：v-if="表达式"
                        有的指令既需要参数，也需要表达式，例如：v-bind:参数="表达式"
            5.v-once 指令
                作用：只渲染元素和组件一次。随后的重新渲染，元素/组件及其所有的子节点
                将被视为静态内容并跳过。这可以用于优化更新性能。
            6.v-if="表达式"指令
                作用：表达式的执行结果需要是一个布尔类型的数据：true或者false
                    true：这个指令所在的标签，会被渲染到浏览器当中。
                    false：这个指令所在的标签，不会被渲染到浏览器中。（这个标签就没了）
            
    -->

    <!-- 准备一个容器 -->
    <div id="app">
        <h1>{{msg}}</h1>
        <h1 v-once>{{msg}}</h1>
        <h1 v-if="a > b">{{msg}}</h1>
    </div>

    <!-- Vue程序 -->
    <script>
        new Vue({
            el: '#app',
            data: {
                msg: 'Hello Vue!',
                a: 10,
                b: 9,
            }
        })
    </script>
</body>
</html>