<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>41-数组的响应式处理</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        1. 通过数组的下标去修改数组中的元素，会有响应式处理吗？
            默认情况下是没有添加响应式处理的。
        2. 注意：属性是一个数组，数组的每个元素通过下标去访问是没有响应式的。
                但如果数组的每个元素是一个对象，对象里的每个属性是有响应式的。
        3. 怎么解决？
            方案一：
                vm.$set(数组对象, 下标, 值)
                Vue.set(数组对象, 下标, 值)
            方案二：调用Vue提供的7个API：
                push()
                pop()
                reverse()
                splice()
                shift()
                unshift()
                sort()
    -->
    <div id="app">
        <h1>{{msg}}</h1>
        <ul>
            <li v-for="user,index in users" :key="index">{{user}}</li>
        </ul>

        <ul>
            <li v-for="vip of vips" :key="vip.id">{{vip.name}}</li>
        </ul>
    </div>

    <script>
        const vm =  new Vue({
            el: '#app',
            data: {
                msg: '41-数组的响应式处理',
                users: ['jack','Bob','lucy'],
                vips: [
                    {id:'111',name:'zhangsan'},
                    {id:'222',name:'lisi'},
                ]
            },
        })
    </script>
</body>
</html>