<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    
<!--    <servlet>-->
<!--        <servlet-name>deptList</servlet-name>-->
<!--        <servlet-class>com.javaweb.oa.web.action.DeptListServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>deptList</servlet-name>-->
<!--        <url-pattern>/dept/list</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>deptDetail</servlet-name>-->
<!--        <servlet-class>com.javaweb.oa.web.action.DeptDetailServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>deptDetail</servlet-name>-->
<!--        <url-pattern>/dept/detail</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>deptDelete</servlet-name>-->
<!--        <servlet-class>com.javaweb.oa.web.action.DeptDeleteServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>deptDelete</servlet-name>-->
<!--        <url-pattern>/dept/delete</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>deptSave</servlet-name>-->
<!--        <servlet-class>com.javaweb.oa.web.action.DeptSaveServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>deptSave</servlet-name>-->
<!--        <url-pattern>/dept/save</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>deptEdit</servlet-name>-->
<!--        <servlet-class>com.javaweb.oa.web.action.DeptEditServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>deptEdit</servlet-name>-->
<!--        <url-pattern>/dept/edit</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>deptModify</servlet-name>-->
<!--        <servlet-class>com.javaweb.oa.web.action.DeptModifyServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>deptModify</servlet-name>-->
<!--        <url-pattern>/dept/modify</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>