<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01-第一个组件</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 
        组件的使用分为三步：
            1.创建组件
                Vue.extend({该配置项和new Vue的配置项几乎相同，略有差别})
                区别有哪些？
                    (1). 创建Vue组件的时候，配置项中不能使用el配置项.(但是需要使用template配置项来配置模版语句)
                    (2). 在组件当中data必须写成函数形式，不能写成对象形式。
                         因为每个组件中的数据应该是不一样的。
                         如果是对象形式，就会导致数据相同，修改其中一个，另一个也会变化。
                         如果是函数形式，每次调用都会返回一个全新的对象，互不影响

            2.注册组件
                局部注册：
                    在new Vue的配置项当中使用components.语法格式：
                        components: {
                            组件的名字 : 组件对象
                        }
                全局注册:
                    Vue.component(组件名, 组件对象)
                注意：组件名如果是驼峰命名法，例如组件名为userList，那么在使用组件时,标签需要修改为user-list(HTML对大小写不敏感)
            3.使用组件
                <组件名></组件名>

        小细节：
            1. 在Vue当中可以使用自闭和标签的，但是前提必须在脚手架环境中使用。(否则只能显示一个，后面的显示不出来)
            2. 创建组件的时候，Vue.extend()可以省略，但是底层实际上还是会调用的，在注册组件的时候会调用。
            3. 组件的名字
                第一种：全部小写
                第二种：首字母大写，后面都是小写
                第三种：kebab-case命名法 (串式命名法。例如user-login)
                第四种: CamelCase命名法 (驼峰命名法。例如UserLogin)，但是这种方式只允许在脚手架环境中使用
            4. 不要使用HTML内置的标签名做为组件名
            5. 在创建组件的时候，通过配置项配置一个name，这个name不是组件的名字，是设置Vue开发者工具中显示的组件的名字。
    -->
    <div id="app">
        <userlogin></userlogin>
        <h1>{{msg}}</h1>
        <!-- 3.使用组件 -->
        <user-list></user-list>
        <user-List></user-List>
        <userlogin></userlogin>
    </div>

    <div id="app2">
        <userlogin></userlogin>
        <!-- 可以使用自闭和标签 -->
        <!-- <userlogin/> -->
        <!-- 下面这几个无法显示 -->
        <!-- <userlogin></userlogin>
        <userlogin/>
        <userlogin/> -->

        <hello-world></hello-world>
    </div>

    <script>

        // // 创建组件
        // const abc = {
        //     template: `<h1>测试组件的名字</h1>`
        // }
        // // 全局注册组件
        // Vue.component('helloWorld', abc)


        // 创建和注册组件可以一块写
        Vue.component('hello-world', {
            name: 'Xxxxx', // Vue开发者工具中显示的组件名
            template: `<h1>测试组件的名字</h1>`
        })


        //1. 创建组件(结构HTML 交互JS 样式CSS)
        // const myComponent = Vue.extend({
        //     template: `
        //         <ul>
        //             <li v-for="user,index of users" :key="user.id">
        //                 {{index}}, {{user.name}}
        //             </li>
        //         </ul>            
        //     `,
        //     // data: function () {  //function可以省略
        //     data(){
        //         return {
        //             users: [
        //                 { id: '001', name: 'jack' },
        //                 { id: '002', name: 'lucy' },
        //                 { id: '003', name: 'james' },
        //             ]
        //         }
        //     },
        // })

        // 省略后的写法
        const myComponent = {
            template: `
                <ul>
                    <li v-for="user,index of users" :key="user.id">
                        {{index}}, {{user.name}}
                    </li>
                </ul>            
            `,
            // data: function () {  //function可以省略
            data(){
                return {
                    users: [
                        { id: '001', name: 'jack' },
                        { id: '002', name: 'lucy' },
                        { id: '003', name: 'james' },
                    ]
                }
            },
        }

        // 1.创建组件
        const userLoginComponent = Vue.extend({
            template:`
                <div>
                    <h3>用户登录</h3>
                    <form @submit.prevent="login">
                        账号：<input type="text" v-model="username"><br><br>
                        密码：<input type="password" v-model="password"><br><br>
                        <button>登录</button>
                    </form>
                </div>
            `,
            data(){
                return {
                    username:'',
                    password:'',
                }
            },
            methods: {
                login(){
                    alert(this.username + ',' + this.password)
                }
            }
        })

        // 全局注册
        Vue.component('userlogin', userLoginComponent)

        // Vue实例 管理#app容器
        const vm = new Vue({
            el: '#app',
            data: {
                msg: '01-第一个组件',
            },
            // 2.注册组件 (局部注册)
            components: {
                // userList是组件的名字。myComponent只是一个变量名。
                userList : myComponent,
                //userlogin: userLoginComponent,
            }
        })

        const vm2 =  new Vue({
            el: '#app2',
        })
    </script>
</body>

</html>